.App {
    height: 100vh;
    text-align: center;
    margin-top: 0;
    background-color: rgb(23, 2, 51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
}

.App-header {
    background-color: #080d16;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

